@font-face {
    font-family: "Brown";
    font-weight: 300;
    font-style: normal;
    src: url("/assets/font/BrownLight.ttf") format("truetype");
}
@font-face {
    font-family: "Brownreguler";
    font-weight: 300;
    font-style: normal;
    src: url("/assets/font/Brownreguler.ttf") format("truetype");
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Brownreguler", sans-serif;
    font-weight: 300;
}
body {
    font-family: "Brown", sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
    color: $color-black;
    position: relative;
    background-color: rgba(249, 247, 242, 1);
    font-weight: 300;
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
}
p {
    margin-top: 1rem;
    // font-family: "Brownreguler", sans-serif;
    // font-weight: 200;
    @media (max-width: 400px) {
        font-size: 1rem;
    }
}
a {
    text-decoration: none;
}

ul {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}
.myContainer {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    @media (max-width: 640px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.letter__spacing {
    @media (min-width: 768px) {
        letter-spacing: 9.6px;
    }
}
.big-font {
    @media (min-width: 768px) {
        font-size: 3rem;
    }
}
.section__title {
    z-index: 99;
    margin-bottom: 40px;
    h2 {
        letter-spacing: 0.2em;
        font-size: 40px;
        line-height: 56px;
        text-transform: uppercase;
        // font-weight: 400;
        .text-gold {
            color: $golden-color;
        }
        @media screen and (max-width: 480px) {
            font-size: 30px;
            line-height: 46px;
        }
    }
    p {
        line-height: 30px !important;
    }
}
.text-gold {
    color: $golden-color;
}
.text-white {
    color: $color-white;
}
.bg-black {
    background-color: $color-black;
    padding: 0.75rem 0 !important;
    width: 100%;
}
