$primary: #002b4e;
$bg-color-first: #fbf8e9;
$bg-color-second: #f9f7f2;
$color-black: #13100d;
$golden-color: #b89535;
$color-white: #ffffff;
$linear-color: linear-gradient(180deg, #003865, #008DFF);
$linear-color-one: linear-gradient(180deg, #0065B6, #6EBDFD);

