@font-face {
  font-family: "Brown";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/font/BrownLight.ttf") format("truetype");
}

@font-face {
  font-family: "brownreguler";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/font/BrownReguler.ttf") format("truetype");
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brownreguler", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Brown", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  color: #13100d;
  position: relative;
  background-color: #f9f7f2;
  font-weight: 300;
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
}

p {
  margin-top: 1rem;
}

@media (max-width: 400px) {
  p {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.myContainer {
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 640px) {
  .myContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .letter__spacing {
    letter-spacing: 9.6px;
  }
}

@media (min-width: 768px) {
  .big-font {
    font-size: 3rem;
  }
}

.section__title {
  z-index: 99;
  margin-bottom: 40px;
}

.section__title h2 {
  letter-spacing: 7px;
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 400;
}

.section__title h2 .text-gold {
  color: #b89535;
}

@media screen and (max-width: 480px) {
  .section__title h2 {
    font-size: 30px;
    line-height: 46px;
  }
}

.text-gold {
  color: #b89535;
}

.text-white {
  color: #ffffff;
}

.bg-black {
  background-color: #13100d;
  padding: 0.75rem 0 !important;
  width: 100%;
}

#header {
  z-index: 9999;
  position: relative;
  padding: 40px 0px;
  width: 100%;
  left: 0%;
  right: 0%;
  margin: auto;
}

#header ul {
  z-index: 99;
}

#header ul li {
  margin-left: 25px;
}

#header ul li a {
  letter-spacing: 3px;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

#header ul li a:hover {
  color: #b89535;
}

#header ul li.dropdown:hover .dropdown-menu {
  display: block;
}

#header ul li.dropdown .dropdown-menu {
  background: #13100d 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 20px #00386533;
          box-shadow: 0px 0px 20px #00386533;
  z-index: 1;
}

#header ul li.dropdown .dropdown-menu .navbrand-img {
  z-index: -1;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 45%;
}

#header ul li.dropdown .dropdown-menu li {
  margin-left: 0rem !important;
}

#header ul li.dropdown .dropdown-menu li a {
  text-transform: capitalize;
}

@media screen and (min-width: 991px) {
  #header ul li.dropdown .dropdown-menu {
    left: -50% !important;
    min-width: none;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 28px;
    border-radius: 15px;
    overflow: hidden;
  }
  #header ul li.dropdown .dropdown-menu li {
    margin-bottom: 24px;
  }
  #header ul li.dropdown .dropdown-menu li a {
    font-size: 14px;
    padding: 0% !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
    letter-spacing: 1px;
  }
  #header ul li.dropdown .dropdown-menu li a:hover {
    background-color: transparent !important;
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
}

@media screen and (max-width: 991px) {
  #header .navbar-nav {
    background-color: #13100d;
  }
}

#header .navbar-toggler {
  background-color: #ffffff !important;
}

#main-banner {
  max-height: 95vh;
  height: 613px;
  position: relative;
  top: 0%;
  left: 0%;
  right: 0%;
}

#main-banner .main-banner__inner {
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  right: 0%;
  background: transparent linear-gradient(91deg, #13100dde 0%, #13100d00 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 100%;
}

#main-banner .main-banner__inner #main-banner__video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

#main-banner .main-banner__inner .main-banner__content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 95vh;
  height: 613px;
  margin-top: 40px;
}

#main-banner .main-banner__inner .main-banner__content .main-banner__title {
  color: #ffffff;
  font-size: 48px;
}

@media (max-width: 480px) {
  #main-banner .main-banner__inner .main-banner__content .main-banner__title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 6px !important;
  }
}

#main-banner .main-banner__inner .main-banner__content p {
  color: #ffffff;
}

@media (min-width: 1200px) {
  #main-banner .main-banner__inner .main-banner__content {
    height: 900px !important;
  }
}

@media (min-width: 768px) {
  #main-banner .main-banner__inner .main-banner__content {
    height: 780px;
  }
}

@media (min-width: 1200px) {
  #main-banner {
    height: 900px !important;
  }
}

@media (min-width: 768px) {
  #main-banner {
    height: 780px;
  }
}

#intro {
  margin-top: -40px;
  z-index: 2;
  position: relative;
  overflow-x: hidden;
}

#intro .introContainer {
  padding-left: 60px;
}

@media screen and (max-width: 768px) {
  #intro .introContainer {
    padding-left: 0px;
  }
}

#intro .intro-inner {
  padding: 40px 30px;
  background-color: #f3efe5;
  z-index: 99;
  position: relative;
}

@media (min-width: 768px) {
  #intro .intro-inner {
    padding-right: 60px;
    padding-left: 30px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media (max-width: 480px) {
  #intro .intro-inner {
    padding: 40px 0px;
  }
}

#intro .intro-inner__bg {
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: -99;
  -o-object-fit: contain;
     object-fit: contain;
}

#quote {
  margin-top: 40px;
}

#quote .quote-content p {
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
  font-family: "brownreguler", sans-serif;
}

#quote .quote-content .quote-author {
  margin-top: 25px;
}

#quote .quote-content .quote-author .author-name {
  line-height: 30px;
  font-size: 22px;
  font-weight: 400;
  font-family: "brownreguler", sans-serif;
}

@media (min-width: 768px) {
  #quote .quote-content .quote-author {
    margin-top: 88px;
  }
}

@media (min-width: 768px) {
  #quote {
    margin-top: 130px;
  }
}

#divisions {
  position: relative;
  z-index: 2;
}

#divisions .divisions__inner {
  position: relative;
  content: "";
  top: 0%;
  left: 0%;
  right: 0%;
  background: transparent linear-gradient(91deg, #13100dde 0%, #13100d00 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px 75px 0px;
}

@media (min-width: 768px) {
  #divisions .divisions__inner {
    padding: 120px 0px;
  }
}

#divisions .divisions__inner #divisions__video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

#divisions .divisions__inner .divisions__inner-content {
  z-index: 1;
  overflow-x: hidden;
}

#divisions .divisions__inner .divisions__inner-content ul li {
  color: white;
  font-weight: 400;
  font-family: "brownreguler", sans-serif;
}

#divisions .divisions__inner .divisions__inner-content ul li .item .item-icon {
  padding: 20px;
  background-color: #ffffff1a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#divisions .divisions__inner .divisions__inner-content ul li .item .item-content {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
}

@media (min-width: 768px) {
  #divisions .divisions__inner .divisions__inner-content ul li {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

#approach {
  margin-top: 80px;
  z-index: 99;
}

@media screen and (min-width: 767px) {
  #approach .section__title h2 {
    width: 650px;
    margin: auto;
  }
}

#approach .section__title p {
  margin-top: 20px !important;
}

@media screen and (min-width: 991px) {
  #approach .section__title p {
    width: 800px;
    margin: auto;
    margin-top: 40px !important;
  }
}

#footer {
  border-top: 6px solid #b89535;
  background-color: #f4efe5;
}

#footer .footer-menu {
  padding: 40px 0px;
}

#footer .footer-menu ul li a {
  text-transform: capitalize;
  color: #13100d;
  font-size: 17px;
  font-weight: 300;
}

#footer .footer-copyright {
  padding: 1rem 0;
  border-top: 1px solid #d1d1d1;
}

#footer .footer-copyright span {
  color: #868786;
  font-size: 17px;
  font-weight: 300;
}

.lines {
  padding-top: 88px;
}

.lines .line {
  display: block;
  height: 10vh;
  width: 1px;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(75%, #b89535), to(#b89535));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #b89535 75%, #b89535);
  opacity: 1;
  -webkit-animation: flickerAnimation 3s infinite;
          animation: flickerAnimation 3s infinite;
}

@-webkit-keyframes flickerAnimation {
  /* flame pulses */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  /* flame pulses */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .lines {
    display: none !important;
  }
}

#myCarasoul {
  z-index: -1;
}

#myCarasoul .carasoulCircle {
  width: 100%;
}

#myCarasoul .carasoulCircle .tab__toggle.is-active {
  background-color: #002b4e !important;
}

@media screen and (max-width: 991px) {
  #myCarasoul .carasoulCircle .carasoulCircle-inner {
    padding-top: 40px;
    position: relative;
    z-index: 1;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner::after {
    width: 100%;
    height: 2px;
    background-color: #bfbdb9;
    position: absolute;
    content: "";
    left: 0%;
    right: 0%;
    bottom: 6%;
    z-index: -1;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle {
    width: 40px;
    height: 40px;
    background-color: #bfbdb9;
    border-radius: 9999px;
    border: 0px;
    z-index: 40;
    cursor: default;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle span {
    color: #13100d;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #ffffff;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab2 {
    position: absolute;
    left: 33%;
    bottom: 0%;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab3 {
    position: absolute;
    left: 60%;
    bottom: 0%;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab4 {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
}

@media screen and (max-width: 991px) and (min-width: 600px) and (max-width: 991px) {
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle {
    width: 80px;
    height: 80px;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner::after {
    bottom: 12%;
  }
}

@media screen and (max-width: 991px) {
  #myCarasoul .carasoulCircle .content {
    padding-top: 40px !important;
  }
}

@media screen and (min-width: 991px) {
  #myCarasoul .carasoulCircle .carasoulCircle-inner {
    width: 100%;
    height: 1000px;
    border-radius: 50%;
    border: 1px solid #bfbdb9;
    margin-top: -50%;
    position: relative;
    display: block !important;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .section__title {
    position: absolute;
    bottom: 14%;
    width: 680px;
    left: 0%;
    right: 0%;
    margin: auto;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle {
    width: 90px;
    height: 90px;
    background-color: #bfbdb9;
    border-radius: 9999px;
    border: 0px;
    z-index: 40;
    cursor: default;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle span {
    color: #13100d;
    font-size: 26px;
    letter-spacing: 3px;
    color: #ffffff;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab1 {
    position: absolute;
    bottom: 8%;
    left: 15%;
    right: 0%;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab2 {
    position: absolute;
    bottom: -2%;
    left: 35%;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab3 {
    position: absolute;
    bottom: -2%;
    right: 35%;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .tab__toggle.tab4 {
    position: absolute;
    bottom: 8%;
    right: 15%;
  }
}

@media screen and (min-width: 991px) and (min-width: 991px) and (max-width: 1200px) {
  #myCarasoul .carasoulCircle .carasoulCircle-inner {
    height: 800px;
  }
  #myCarasoul .carasoulCircle .carasoulCircle-inner .section__title {
    bottom: 20%;
  }
}

#myCarasoul .carasoulCircle .content {
  padding: 100px 0px;
}

#myCarasoul .carasoulCircle .content .tabs__content {
  display: none;
  opacity: 0;
}

#myCarasoul .carasoulCircle .content .tabs__content .item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#myCarasoul .carasoulCircle .content .tabs__content .item .item-title {
  line-height: 38px;
  font-size: 28px;
  color: #13100d;
  font-weight: 400;
  font-family: "brownreguler", sans-serif;
}

#myCarasoul .carasoulCircle .content .tabs__content.is-active {
  display: block !important;
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */