@import "base";

//header
#header {
    z-index: 9999;
    position: relative;
    padding: 40px 0px;
    width: 100%;
    left: 0%;
    right: 0%;
    margin: auto;
    // overflow-x: hidden;
    ul {
        z-index: 99;
        li {
            margin-left: 25px;
            a {
                letter-spacing: 3px;
                transition: all 0.3 ease-in-out;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 300;
                color: white;
                &:hover {
                    color: $golden-color;
                }
            }
        }
        li.dropdown {
            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }
            .dropdown-menu {
                background: #13100d 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 20px #00386533;
                z-index: 1;
                .navbrand-img {
                    z-index: -1;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                    width: 45%;
                }
                li {
                    margin-left: 0rem !important;
                    a {
                        text-transform: capitalize;
                    }
                }
                @media screen and (min-width: 991px) {
                    left: -50% !important;
                    min-width: none;
                    padding-left: 28px;
                    padding-right: 28px;
                    padding-top: 28px;
                    border-radius: 15px;
                    overflow: hidden;
                    li {
                        margin-bottom: 24px;
                        a {
                            font-size: 14px;
                            padding: 0% !important;
                            transition: all 0.3s ease-in-out;
                            font-weight: 300;
                            letter-spacing: 1px;
                            &:hover {
                                background-color: transparent !important;
                                transform: translateX(3px);
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .navbar-nav {
            background-color: $color-black;
        }
    }
    .navbar-toggler {
        background-color: $color-white !important;
    }
}

//banner
#main-banner {
    max-height: 95vh;
    height: 613px;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    .main-banner__inner {
        position: absolute;
        content: "";
        top: 0%;
        left: 0%;
        right: 0%;
        background: transparent linear-gradient(91deg, #13100dde 0%, #13100d00 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 100%;
        #main-banner__video {
            height: 100%;
            width: 100%;
            object-fit: cover !important;
            // position: relative;
            position: absolute;
            top: 0%;
            left: 0%;
            right: 0%;
            z-index: -1;
        }
        .main-banner__content {
            // margin: auto 0px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 95vh;
            height: 613px;
            margin-top: 40px;
            .main-banner__title {
                color: $color-white;
                font-size: 48px;
                @media (max-width: 480px) {
                    font-size: 28px;
                    line-height: 32px;
                    letter-spacing: 6px !important;
                }
            }
            p {
                color: $color-white;
            }
            @media (min-width: 1200px) {
                height: 900px !important;
            }
            @media (min-width: 768px) {
                height: 780px;
            }
        }
    }
    @media (min-width: 1200px) {
        height: 900px !important;
    }
    @media (min-width: 768px) {
        height: 780px;
    }
}
//intro
#intro {
    margin-top: -40px;
    z-index: 2;
    position: relative;
    overflow-x: hidden;
    .introContainer {
        padding-left: 60px;
        @media screen and (max-width: 768px) {
            padding-left: 0px;
        }
    }
    .intro-inner {
        padding: 40px 30px;
        background-color: rgba(243, 239, 229, 1);
        z-index: 99;
        position: relative;
        @media (min-width: 768px) {
            padding-right: 60px;
            padding-left: 30px;
            padding-top: 130px;
            padding-bottom: 130px;
        }
        @media (max-width: 480px) {
            padding: 40px 0px;
        }
    }
    .intro-inner__bg {
        position: absolute;
        left: 0%;
        bottom: 0%;
        z-index: -99;
        object-fit: contain;
    }
}

//quote
#quote {
    margin-top: 40px;
    .quote-content {
        p {
            font-size: 28px;
            line-height: 42px;
            font-weight: 400;
            font-family: "brownreguler", sans-serif;
        }
        .quote-author {
            margin-top: 25px;
            .author-name {
                line-height: 30px;
                font-size: 22px;
                font-weight: 400;
                font-family: "brownreguler", sans-serif;
            }
            @media (min-width: 768px) {
                margin-top: 88px;
            }
        }
    }
    @media (min-width: 768px) {
        margin-top: 130px;
    }
}
//divisions
#divisions {
    position: relative;
    z-index: 2;

    .divisions__inner {
        position: relative;
        content: "";
        top: 0%;
        left: 0%;
        right: 0%;
        background: transparent linear-gradient(91deg, #13100dde 0%, #13100d00 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0px 75px 0px;
        @media (min-width: 768px) {
            padding: 120px 0px;
        }

        #divisions__video {
            height: 100%;
            width: 100%;
            object-fit: cover !important;
            // position: relative;
            position: absolute;
            top: 0%;
            left: 0%;
            right: 0%;
            z-index: -1;
        }
        .divisions__inner-content {
            z-index: 1;
            overflow-x: hidden;
            // .row {
            //     margin-top: 80px;
            // }
            // @media (min-width: 768px) {
            //     .row {
            //         margin-top: 80px;
            //     }
            // }

            ul {
                li {
                    color: white;
                    font-weight: 400;
                    font-family: "brownreguler", sans-serif;
                    .item {
                        .item-icon {
                            // width: 100px;
                            // height: 100px;
                            padding: 20px;
                            background-color: #ffffff1a;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .item-content {
                            font-size: 18px;
                            text-transform: capitalize;
                            font-weight: 500;
                        }
                    }
                    @media (min-width: 768px) {
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                    }
                }
            }
        }
    }
}

//approach
#approach {
    margin-top: 80px;
    z-index: 99;
    .section__title {
        h2 {
     
            @media screen and (min-width: 767px) {
                width: 650px;
                margin: auto;
            }
        }
        p {
            margin-top: 20px !important;
            @media screen and (min-width: 991px) {
                width: 800px;
                margin: auto;
                margin-top: 40px !important;
            }
        }
    }
}

//footer
#footer {
    border-top: 6px solid $golden-color;
    background-color: #f4efe5;
    .footer-menu {
        padding: 40px 0px;
        ul {
            li {
                a {
                    text-transform: capitalize;
                    color: $color-black;
                    font-size: 17px;
                    font-weight: 300;
                }
            }
        }
    }
    .footer-copyright {
        padding: 1rem 0;
        border-top: 1px solid rgba(209, 209, 209, 1);
        span {
            color: rgba(134, 135, 134, 1);
            font-size: 17px;
            font-weight: 300;
        }
    }
}

//lines
.lines {
    padding-top: 88px;

    .line {
        display: block;
        height: 10vh;
        width: 1px;
        top: -50%;
        left: 0;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, $golden-color 75%, $golden-color);
        opacity: 1;
        animation: flickerAnimation 3s infinite;
        @keyframes flickerAnimation {
            /* flame pulses */
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 767px) {
        display: none !important;
    }
}
//carasoul
#myCarasoul {
    z-index: -1;
    .carasoulCircle {
        width: 100%;
        .tab__toggle.is-active {
            background-color: #002b4e !important;
        }
        @media screen and (max-width: 991px) {
            .carasoulCircle-inner {
                padding-top: 40px;
                position: relative;
                z-index: 1;
                &::after {
                    width: 100%;
                    height: 2px;
                    background-color: rgba(191, 189, 185, 1);
                    position: absolute;
                    content: "";
                    left: 0%;
                    right: 0%;
                    bottom: 6%;
                    z-index: -1;
                }
                .tab__toggle {
                    width: 40px;
                    height: 40px;
                    background-color: rgba(191, 189, 185, 1);
                    border-radius: 9999px;
                    border: 0px;
                    z-index: 40;
                    cursor: default;
                    span {
                        color: $color-black;
                        font-size: 1rem;
                        letter-spacing: 3px;
                        color: $color-white;
                    }
                }
                .tab__toggle.tab2 {
                    position: absolute;
                    left: 33%;
                    bottom: 0%;
                }
                .tab__toggle.tab3 {
                    position: absolute;
                    left: 60%;
                    bottom: 0%;
                }
                .tab__toggle.tab4 {
                    position: absolute;
                    right: 0%;
                    bottom: 0%;
                }
                @media screen and (min-width: 600px) and (max-width: 991px) {
                    .tab__toggle {
                        width: 80px;
                        height: 80px;
                    }
                    &::after {
                        bottom: 12%;
                    }
                }
            }
            .content {
                padding-top: 40px !important;
            }
        }
        @media screen and (min-width: 991px) {
            .carasoulCircle-inner {
                width: 100%;
                height: 1000px;
                border-radius: 50%;
                border: 1px solid rgba(191, 189, 185, 1);
                margin-top: -50%;
                position: relative;
                display: block !important;
                .section__title {
                    position: absolute;
                    bottom: 14%;
                    width: 680px;
                    left: 0%;
                    right: 0%;
                    margin: auto;
                }
                .tab__toggle {
                    width: 90px;
                    height: 90px;
                    background-color: rgba(191, 189, 185, 1);
                    border-radius: 9999px;
                    border: 0px;
                    z-index: 40;
                    cursor: default;
                    span {
                        color: $color-black;
                        font-size: 26px;
                        letter-spacing: 3px;
                        color: $color-white;
                    }
                }
                .tab__toggle.tab1 {
                    position: absolute;
                    bottom: 8%;
                    left: 15%;
                    right: 0%;
                }
                .tab__toggle.tab2 {
                    position: absolute;
                    bottom: -2%;
                    left: 35%;
                }
                .tab__toggle.tab3 {
                    position: absolute;
                    bottom: -2%;
                    right: 35%;
                }
                .tab__toggle.tab4 {
                    position: absolute;
                    bottom: 8%;
                    right: 15%;
                }
                @media screen and (min-width: 991px) and (max-width: 1200px) {
                    height: 800px;
                    .section__title {
                        bottom: 20%;
                    }
                }
            }
        }
        .content {
            padding: 100px 0px;
            .tabs__content {
                display: none;
                opacity: 0;
                .item {
                    transition: all 0.3s ease-in-out;
                    .item-title {
                        line-height: 38px;
                        font-size: 28px;
                        color: $color-black;
                        font-weight: 400;
                        font-family: "brownreguler", sans-serif;
                       
                    }
                }
            }
            .tabs__content.is-active {
                display: block !important;
                opacity: 1;
            }
        }
    }
}
